body {
  background-color: rgb(79, 79, 90);
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  top: 0;
  background-color: black;
  display: flex;
  position: fixed;
  height: 60px;
  width: 100%;
  border: 2px solid black;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}
.nv1 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.lk {
  color: white;
  text-decoration: none;
}

.lk:hover {
  text-decoration: underline;
  font-size: 17px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}
.memb{
    font-size: 30px;
    border-radius: 7px;
    list-style: none;
    border: 2px solid black;
    width: 400px;
    height: 400px;
    background-color: rgb(44, 38, 66);
    margin:  auto;
    margin-top: 100px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.memb li{
    margin-top: 30px;
    animation: mudarCor 3s infinite
}
.memb li:hover{

}
 @keyframes mudarCor {
      0% {
        color: rgb(255, 0, 0);
      }
      33% {
        color: rgb(0, 255, 0);
      }
      66% {
        color: rgb(0, 0, 255);
      }
      100% {
        color: rgb(255, 0, 0); 
      }
    }